/*Ascend Marketing plugin CSS*/
	.floating-footer{
		height: 80px;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		top: auto;
		z-index: 999;
		padding: 8px;
	}
	.toplevel_page_ascend_marketing .floating-footer{
		position: relative;
	}
	.floating-inner{
		text-align: center;
		line-height: 80px;
	}
	.floating-inner a{
		font-weight: bold;
		font-size: 20px;
		margin: 0 20px;
		text-decoration: none;
	}
	.floating-inner a i, .floating-inner a img{margin-right: 10px; font-size: 35px;}